<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
	<p>
		<%= link_to recipe.title, meal_recipes_path(recipe) %> 
	</p>
<% end %>

<button class="btn btn-default" href=<%= link_to 'New Recipe', new_meal_recipe_path %></button>